%stack_size = 4096

// The entrypoints for a service:
// - is_authorized: 0

jump @is_authorized
fallthrough
fallthrough
fallthrough
trap
fallthrough
fallthrough
fallthrough
trap
fallthrough
fallthrough
fallthrough
trap
fallthrough
fallthrough
fallthrough

$code
