%stack_size = 4096

// The entrypoints for a service:
// - is_authorized: 0
// - refine: 5
// - accumulate: 10
// - on_transfer: 15
jump @is_authorized
fallthrough
fallthrough
fallthrough
jump @refine
fallthrough
fallthrough
fallthrough
jump @accumulate
fallthrough
fallthrough
fallthrough
jump @on_transfer
fallthrough
fallthrough
fallthrough

$code
